*{
 scroll-behavior: smooth;    
    
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    
    font-family: 'Quicksand', sans-serif;
}

.rounded-pill{
border-radius:30px;     
}
.dropdown-item {
   
    color: black;
    background-color: white;

}   
a{
    text-decoration: none;
    
    color: #7F7F7F;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
.sidebar a:hover{
    color: #0C66FF;
    text-decoration:none;
   
    
}
.sidebar h3{
    font-size:25px;
    color: #35363A;
    font-weight: 800;
}
.sidebar a{
    color: #35363A;
    transition-duration: 0.51s;
    display: block;
}
.sidebar a:hover{
     transform: translate(5px); 
}
.sidebar {
    padding: 80px 3px;
   
    overflow-x: hidden;
    max-height: 100vh;
    position: sticky;
    top: 0;
    margin-top: 0px;
}

blog{
    
}
blog h1{
    
}
blog p{
    
}
.blog{

    margin-top: 41px;
    margin-bottom: 0px;
    border-bottom: 1px solid #35363a54;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 80px;
}
.postagain{
    
}
.postagain h1{
    
    font-size: 34px;
    font-weight: 600;
}
.postagain a:hover{
    
    /*! transform: translate; */
}
.postagain a{
    
    border-bottom: 1px dotted #35363a;
}
.postagain span{
    
    font-size: 15px;
    color: #35363a;
    font-weight: 500;
    padding: 0px 8px;
}
.postagain p{
    
    font-size: 15px;
    line-height: 1.8;
    color: #35363a;
    font-weight: 400;
}
.postagain img{
    
    width: 18px;
    height: 18px;
    border-radius: 24px;
    /*! padding: 16px 11px; */
    margin: 0px 11px;
}

article{
    
    
}
header{
    
}


.mcard img{
    
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    transition-duration: 1.2s;
}
.mcard .imgcustom{
    overflow: hidden;
    width: 100%;
height: 250px;
}
.mcard img:hover{
   transform: scale(2.0); 
    
    
   /*! transition-duration: 0.5; */
}
.mcard h5{
    
    color: #3b506c;
    font-size: 22px;
    padding: 7px;
    margin: 4px 0px;
    display: block;
    font-weight: 600;
    text-align: start;
}
.mcard span{
    
    font-size: 16px;
    color: #f3960a;
    font-weight: 700;
    padding-left: 10px;
}
.mcard a{
    
}
.mcard i{
    
    color: #f3960a;
}


.mcard b{
    
    display: block;
    padding-left: 10px;
    color: #3b506c;
    margin: 6px 0px;
}

.mcard a{
    
}

.btn-co {
    background: #ffe799;
    padding: 5px 12px;
    margin-left: 7px;
    border-radius: 20px;
    border: 1px solid #ae813d59;
    box-shadow: 0px 3px 11px #635f581a;
}

.mcard {
    /*! box-shadow: 0px 0px 0px #35363a; */
    box-sizing: border-box;
    padding: 1px;
    margin: 15px 0px;
    overflow: hidden;
}


.banner{
    
    position: relative;
}
.banner img{
    
    /*! max-height: 489px; */
}

.inner{
    
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    background: white;
    transform: translate;
    max-width: 432px;
    padding: 11px 16px;
}
.inner h3{
    
    font-size: 38px;
    padding: 0px;
    color: #3b506c;
    font-weight: 600;
}
.inner p{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
}

.inner button {
    background: white;
    border: 1px solid #dadfe3;
    color: #3b506c;
    padding: 7px 14px;
}
.innercourse{
    position: relative;
}
.innercourse img{
    
    max-width: 100%;
    height: 181px;
    object-fit: cover;
}
.innercourse h3{
    
    color: #3b506c;
    font-size: 22px;
    padding: 7px;
    margin: 4px 0px;
    display: block;
    font-weight: 600;
    text-align: start;
}
.innercourse p{
    
}
.innercourse span{
    
    font-size: 16px;
    color: #f3960a;
    font-weight: 700;
    padding-left: 10px;
}
.innercourse i{
    
    color: #f3960a;
}
.innercourse b{
     display: block;
    padding-left: 10px;
    color: #3b506c;
    margin: 6px 0px;
}

.overlay {
    background: black;
    width: 100%;
    height: 181px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}





.oimg:hover .overlay{
    opacity: 0.5;
    
   
}

.oimg{
    width: 100%;
    height: 181px;
    overflow: hidden;
}
.oimg img:hover{
    transform: scale(1.5);
}


.gback{
    
}
.sback{
    
}
.sback h1{
    
    font-size: 40px;
    color: #3b506c;
}
.sback p{
    
    font-size: 14px;
    color: #35363a;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 1.6;
}
.sback a{
    
    color: black;
    background: #f3960a;
    padding: 15px;
    margin: 35px 0px;
}
.para{
    
}
.gback img{
    
}

.ins .row{
    align-items: center;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #0c66ff;
    background-color: #f5e8e8;
   
        border-bottom-color: rgb(123, 3, 3);
   
    border-bottom: 5px solid #3b506c;
}

.fot1{
    
}
.fot1 h1{
    
    color: #f3960a;
    font-size: 30px;
    font-weight: 700;
}
.fot1 a{
    
    display: block;
    padding: 3px 0px;
    color: #3b506c;
    font-size: 17px;
    font-weight: 700;
}
.fot2{
    
}
.fot2 h1{
    
    color: #f3960a;
    font-size: 30px;
    font-weight: 700;
}
.fot2 i{
 
    display: block;
    width: 31px;
    height: 30px;
    text-align: center;
}
 footer {
    background: #ece2e205;
    margin-top: 70px;
    border-top: 1px solid #3b506c;
}
.f1{
    height: 100px;
}
.f1 a{
    color: black;
padding: 10px;
}

.f2 p {
    padding-top: 11px;
}
    
    .f2 a {
    padding-top: 11px;
}











